/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kaushan-script-regular - latin */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url("../fonts/kaushan-script-v8-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/kaushan-script-v8-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-100italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"),
    url("../fonts/roboto-v20-latin-100italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-100italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}
*,
::before,
*::after {
  box-sizing: inherit;
}
img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-repeat: no-repeat;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);

  margin: -1px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 130px;
  padding-top: 40px;
}
.menu {
  display: flex;
  width: 490px;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  padding: 0;
}
.menu a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
.menu a:hover,
.menu a:focus {
  color: #fce38a;
}

.menu-list-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.35px;
  position: relative;
}
.menu-list-item:hover::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}
.menu-list-item::after {
  display: block;
  width: 0%;
  content: "";
  height: 2px;
  bottom: -10px;
  background-color: #fce38a;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header {
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 230px;
  background-image: url(../img/header.jpg);
}
.menu__list_icon {
  fill: #ffffff;
}
.menu__list_icon:hover {
  fill: #fce38a;
}

.menu__list_icon-glas {
  width: 18px;
  height: 18px;
}
.menu__list_icon-card {
  width: 18px;
  height: 15px;
}
.heading {
  width: 820px;
  margin: 0 auto;
}
.creative {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  text-align: center;
  font-size: 72px;
  line-height: 86px;
  color: #ffffff;
}
.tittle {
  font-size: 150px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
.header_button {
  border: solid 3px #fff;
  padding: 12px 30px;
  width: 164px;
  height: 44px;
  font-size: 14px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-family: "Kaushan Script";
  font-weight: 400;
}
.Rectangle_12 {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  left: 875px;
  top: 725px;
  width: 164px;
  height: 44px;
  z-index: 19;
}
.heading {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.heading-2 {
  display: block;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 20px;
}

h2::after {
  display: block;
  width: 60px;
  height: 3px;

  background-color: rgb(243, 129, 129);

  content: "";
  margin: 28px auto 80px;
}
.service-list-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.service-about-1 {
  width: 382px;
  margin-bottom: 100px;
  background-image: url(../img/clock.svg);
  background-position: left 14px top 14px;

  background-repeat: no-repeat;
}
.service-about-2 {
  width: 382px;
  margin-bottom: 100px;
  background-image: url(../img/web.svg);
  background-position: left 14px top 14px;

  background-repeat: no-repeat;
}
.service-about-3 {
  width: 382px;
  margin-bottom: 100px;
  background-image: url(../img/computer.svg);
  background-position: left 14px top 14px;

  background-repeat: no-repeat;
}
.service-about-4 {
  width: 382px;
  margin-bottom: 100px;
  background-image: url(../img/seo.svg);
  background-position: left 14px top 14px;

  background-repeat: no-repeat;
}
.service-about-5 {
  width: 382px;
  margin-bottom: 100px;
  background-image: url(../img/home.svg);
  background-position: left 14px top 14px;

  background-repeat: no-repeat;
}
.service-about-6 {
  width: 382px;
  margin-bottom: 100px;
  background-image: url(../img/digital.svg);
  background-position: left 14px top 14px;

  background-repeat: no-repeat;
}
.tittle-1 {
  padding-left: 90px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font: weight 400;
}
.tittle-about {
  padding-left: 90px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.lorem {
  margin: 0 auto;
  width: 980px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding-bottom: 94px;
}
.team {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.name {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 300;
}
.position {
  text-align: center;
  color: #999999;
  font-family: "Roboto", sans-serif;
}
.over {
  display: flex;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-clip: padding-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  transition: all 0.2s linear;
  visibility: hidden;
  opacity: 0;
}

.social-list-item-facebook:hover {
  background-color: red;
}
.social-list-item {
  width: 56px;
  height: 56px;
  border: rgb(252, 227, 138);
  cursor: pointer;

  margin: auto;
  top: 79px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  display: flex;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}
.services__list_icon {
  fill: #f38181;
  width: 26px;
  height: 22px;
}
.services_list_wrapper {
  background-color: #fce38a;
  width: 56px;
  height: 56px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services_list_wrapper:hover {
  background-color: #f38181;
}
.services_list_wrapper:hover .services__list_icon {
  fill: #ffffff;
}
.card {
  width: 380px;
  padding-bottom: 84px;
  position: relative;
}
.team-img-wrapper {
  transition: transform 0.2s linear;
}
.team-img-wrapper:hover .overlay {
  transition: all 200ms linear;
  box-shadow: 10px 10px 0 0 #95e1d3;

  opacity: 1;
  visibility: visible;
}
.team-img-wrapper:hover {
  transform: translate(-10px, -10px);
  transition: all 200ms linear;
}

.footer {
  border-top: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 12px;
}
.copiright {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
}
.copiright-link {
  color: #f38181;
}

.contact-form {
  display: flex;
}
.contact-form-input {
  border: 1px solid #e7e7e7;
  border-right: none;
  padding-left: 12px;
  width: 230px;
  height: 40px;
}
.contact-form-input:focus {
  outline: none;
}

.contact-form-button {
  width: 150px;
  height: 40px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #95e1d3;
  cursor: pointer;
}
